*{
	color : white;
	font-weight: normal;
	font-size: 17px;
}
#destheader{
    border-bottom: 1px solid #666
}
#destheader *{
	padding:0; 
	margin:0;
    border-collapse: collapse;
}	
#tablehead * {
	padding:0; 
	margin:0;
    border-collapse: collapse;
    line-height: 25px;
}
/*table, th, td {
   border: 1px solid red;
}*/
.avgtider {
  text-align: right;
  padding:0; margin:0;
  border-collapse: collapse;
  line-height: 25px;
}
.framtider {
  text-align: right;
  padding:0; margin:0;
  border-collapse: collapse;
  line-height: 25px;
}